body {
  background-color: #ffce7f;
}

.spane-content{
  height: 100%;
  width: auto;
}

.container {
  display: flex; 
}

.header {
  background-color:  #3d3c39;
  width: 100%;
  height: 8%;
  padding-top: 1.25em;
  padding-left: 1.5em;
  padding-bottom: 1.25em;
  z-index: 10;

}
.header-text{
  font-family: 'Josefin Slab', serif;
  color: #ffce7f;

   font-size: 24pt;
}

.right {
  float: right;
}

.left {
  float: left;
}
.center {
  text-align: center;
}

.tab {
  padding-left: 1.75em;
}
.gray {
  color: #3d3c39;;
}

.less-left {
  padding: 1em 1em 1em 0;
}
.header-icon {
    position: relative;
    display: block;
    width: 15%;
    height: 0;
    padding-right: .5em;
    color: #ffffff;
    font-size: 24pt;
}

.dark-icon {
  top: 4em;
  position: relative;
  display: block;
  width: 15%;
  color: #3d3c39;
  font-size: 24pt;
}

.add-box {
  position: absolute;
  visibility: hidden;
}

.remove-box {
  position: absolute;
  visibility: hidden;
}

.remove-icon {

    position: relative;
    /*display: block;
    width: 15%;*/
    height: 0;
    color: #3d3c39;
    font-size: 20pt;
}

.right-icon {
  float: right;
}
.appt-list {
  background-color: #ffce7f;
  width: 90%;
  top: 4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.appt-item {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d3fdff;
  list-style: none;
  margin-top: 1em;
  border-radius: 1em;
  padding: 0.5em;

}

.appt-name {
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
  font-size: 18pt;
  color: #3d3c39;
  line-height: 1.8em;
  padding: 0 0 0 1em;
}

.appt-date {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #3d3c39;

}

.appt-time {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #3d3c39;
}
.list-locale {
 font-family: 'Maven Pro', sans-serif;
 font-size: 14pt;
 line-height: 1.6em;
 color: #3d3c39;
}

.list-icon {
  color: #732d75;
  font-size: 14pt;
  padding-left: 1em;
}

.appt-city {
  padding-left: 2.6em;
}

.form-list {
  background-color: #ffce7f;
  width: 95%;
  position: static;
  top: 4em;
  margin: 0 auto;
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
  font-size: 18pt;
  color: #3d3c39;
  line-height: 1.8em;
  padding: 1em 0 0 1em;
}

.appt-sky {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #3d3c39;
}

.appt-temp {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #3d3c39;
}


.input-box{
  padding: .3em;
}

input {
  font-size: 14pt;
  font-family: 'Maven Pro', sans-serif;
  color: #3d3c39;
  padding: .3em;
}

.save {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 0px #666666;
  -webkit-box-shadow: 2px 2px 2px #666666;
  -moz-box-shadow: 2px 2px 2px #666666;
  box-shadow: 2px 2px 2px #666666;
  font-family: 'Maven Pro', sans-serif;
  color: #ffce7f;
  font-size: 20px;
  background: #732d75;
  padding: 10px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  display: block;
  text-decoration: none;
}

.save:hover {
  background: #732d75;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.detail {
  padding: 1em 0;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.line {
  border-bottom: 5pt double #3d3c39;
  width: 95%;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

.small {
  width: 80%;
  border-bottom: 4pt double #3d3c39;

}

.smallest {
  border-bottom: 2pt solid #3d3c39;
  width: 90%;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

.title-detail {
    font-weight: bolder;
    font-family: 'Josefin Slab', serif;
    font-size: 28pt;
    color: #732d75;
    padding-top: .5em;
}

.edit-detail {
    font-weight: bolder;
    font-family: 'Josefin Slab', serif;
    font-size: 28pt;
    color: #732d75;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    text-align: center;
}

.edit-title {
  padding-right: .8em;
}

.time-detail {
    font-weight: bolder;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16pt;
    color: #3d3c39;
    padding-top: .5em;
}

.date-detail {
    font-weight: bolder;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16pt;
    color: #3d3c39;
    padding-top: .5em;
}

.location-detail {
    font-weight: bolder;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12pt;
    color: #3d3c39;
}

.weather-detail {
    font-weight: bolder;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12pt;
    color: #3d3c39;
}

.map-widget {
    width: 500px;
    height: 400px;
    background-color: #CCC;
}

.weather-widget {
  background-color: #7fab79;
  width: 18em;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: .5em;
  margin-bottom: 1em;
  padding: .25em;
  border: 3pt solid #3d3c39;
}

.options {
    font-weight: bolder;
    font-family: 'Josefin Slab', serif;
    font-size: 28pt;
    color: #732d75;
    padding-top: .5em;
}

/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
























