/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/

@media all and (max-width: 950px) {
  .spane-content {
    width: 95%;
    margin: 4% auto;
    min-height: 500px;
  }
  .header-text {
   padding: 1% 2% 1%;
  }
  .tab {
      padding-left: 10% !important;
   }
  .icon-left-dir {
    margin-left: 1%;
  }
}

@media all and (max-width: 750px) {
  .spane-content {
    width: 100%;
    margin: 0;
  }
  .header-text {
   padding: 1% 3% 1%;
  }
  .tab {
    padding-left: 10% !important;
   }
  .form-list {
    margin: 6% auto 4%;
    width: 80%;
  }
  .save {
    width: 35%;
  }
  #directions {
    padding: 3%;
    width: 50%;
    margin-left: 22%;
  }
}

@media all and (max-width: 575px) {
  .header-text {
   padding: 1% 2% 1%;
  }
  .tab {
    padding-left: 10% !important;
  }
  .header-icon {
    padding-right: 4%;
  }
  .header-text {
    font-size: 32px;
  }
  .save {
    width: 47%;
  }
  .map-widget {
    width: 200px;
    height: 200px;
  }
  .map {
    padding: 2%;
  }
  #directions {
    padding: 4%;
    width: 57%;
    ç
    font-size: 24px;
  }
}

@media all and (max-width: 475px) {
  .header-text {
   padding: 1% 3% 1%;
   font-size: 32px;
  }
  .header {
     padding: 5% 0;
  }
  .tab {
      padding-left: 12% !important;
  }
  .input-box {
  font-size: 18px;
  padding: 2% 0;
  }
 .title-detail {
    font-size: 32px;
    padding: 1.5% 0;
  }
  .header-icon {
  padding-right: 4%;
  }
  #directions {
    padding: 5%;
    margin-left: 17%;
    font-size: 22px;
  }
}

@media all and (max-width: 400px) {
  .spane-content {
    min-height: 600px;
    max-height: 700px;
  }
  .header-text {
    padding: 3% 3% 1%;
  }
   #directions {
    padding: 5%;
    margin-left: 14%;
    font-size: 18px;
  }
  .tab {
    padding-left: 17% !important;
  }
  .input-box {
    font-size: 18px;
    padding: 2% 0;
  }
  .header-icon {
    padding-right: 4%;
  }
  .detail {
    margin: 4% auto 4%;
    padding: 2.5%;
  }
  .edit-title {
    width: 35%;
  }
  .edit-date {
   width: 55%;
  }
  .edit-time {
    width: 35%;
  }
  .edit-street {
    width: 40%;
  }
  .edit-city {
    width: 35%;
  }
  .edit-state {
    width: 35%;
  }
  .create-title {
    width: 35%;
  }
  .create-date {
   width: 55%;
  }
  .create-time {
    width: 35%;
  }
  .create-street {
    width: 40%;
  }
  .create-city {
    width: 35%;
  }
  .create-state {
    width: 35%;
  }
}



