<!-- List page template, fetch with ajax -->
<% list.forEach(function (appt, index) { %>
  <li class="appt-item" appt-index="<%- index %>">
    <div class="appt-name">
      <%- appt.title %>
    </div>

    <!-- code remove button later, possibly
  <label class="remove-icon right">
    <input type="checkbox" class="remove-box">
    <span class="icon-cancel"></span>
  </label> -->

    <div class="list-when">
      <span class="icon-calendar-alt list-icon"></span>
      <span class="appt-date">
        <%- appt.date %>
      </span>
      <span class="icon-clock-alt list-icon"></span>
      <span class="appt-time">
        <%- appt.time %>
      </span>
    </div>

    <div class="list-locale">
      <span class="icon-location list-icon"></span>
      <span class="appt-street">
        <%- appt.street %>
      </span>
      <p class="appt-city">
        <%- appt.city %>, <%- appt.state %> </p>

    </div>

    <!-- code weather api later, possibly
  <div class="list-weather">
      <span class="icon-moon-inv list-icon"></span>
      <span class="appt-sky"></span></span>
      <span class="icon-temperature list-icon"></span>
      <span class="appt-temp"></span>
  </div> -->
  </li>
  <% }) %>
