<span class="title-detail">
  <span class="icon-ok gray">
    <%- appt.title %>
  </span>
</span>
</div>
<div class="line"></div>
<div class="detail">
  <span class="time-detail">
    <span class="icon-clock-alt list-icon">
      <%- appt.time %>
    </span>
  </span>
  <span class="date-detail">
    <span class="icon-calendar-alt list-icon"></span>
    <%- appt.date %>
  </span>
</div>
<div class="line small"></div>
<div class="detail">
  <div class="location-detail">
    <span class="icon-location list-icon"></span>
    <%- appt.street %>,
      <%- appt.city %>

        <!-- Google Maps later, integrate api if possible
    <div class= "map-widget">
      Hi MAP IS here!
    </div> -->

        <div class="line smallest"></div>
  </div>
</div>

<!-- Weather later, if possible integrate api
<div class= "weather-detail">
  <span class="icon-moon-inv list-icon"></span>
</div>

<div class= "weather-widget">
  Weather here!!
</div> -->