<!-- Edit page template, fetch with ajax -->

  <div class="input-box">

   <span class= "icon-cancel delete"></span>
    <span class="icon-th-list list-icon"></span>
    Title:

     <input value="<%- edit.title %>" class="edit-title edit-input" type="text" name="Title" placeholder="" size="15" maxlength="30" />

  </div>

  <div class="input-box">
    <span class="icon-calendar-alt list-icon"></span>
    Date:
    <input value="<%- edit.date %>" class="edit-date edit-input" type="date" name="Date" placeholder="" size="15" maxlength="30" />
  </div>

  <div class="input-box">
    <span class="icon-clock-alt list-icon"></span>
    Time:
    <input value="<%- edit.time %>" class="edit-time edit-input" type="time" name="Time" placeholder="" size="15" maxlength="30" />
  </div>

  <div class="input-box">
    <span class="icon-home list-icon"></span>
    Street:
    <input value="<%- edit.street %>" class="edit-street edit-input" type="text" name="Street" placeholder="" size="15" maxlength="30" />
  </div>

  <div class="input-box">
    <span class="icon-location list-icon"></span>
    City:
    <input value="<%- edit.city %>" class="edit-city edit-input" type="text" name="City" placeholder="" size="15" maxlength="30" />
  </div>

  <div class="input-box">
    <span class="icon-location list-icon"></span>
    State:
    <input value="<%- edit.state %>" class="edit-state edit-input" type="text" name=" State" placeholder="__" size="15" maxlength="2" />
  </div>

  <div class="input-box">
    <input type="button" value="Update Details" class="save change-details">
  </div>


