
.icon-calendar-alt:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-clock-alt:before { content: '\e80b'; } /* '' */
.icon-moon-inv:before { content: '\e80c'; } /* '' */
.icon-sun-inv:before { content: '\e80d'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e80e'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e80f'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e810'; } /* '' */
.icon-clouds-inv:before { content: '\e811'; } /* '' */
.icon-drizzle-inv:before { content: '\e812'; } /* '' */
.icon-rain-inv:before { content: '\e813'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e814'; } /* '' */
.icon-snow-inv:before { content: '\e815'; } /* '' */
.icon-mist:before { content: '\e816'; } /* '' */
.icon-wind:before { content: '\e817'; } /* '' */
.icon-celcius:before { content: '\e818'; } /* '' */
.icon-fahrenheit:before { content: '\e819'; } /* '' */
.icon-hail-inv:before { content: '\e81a'; } /* '' */
.icon-windy-rain-inv:before { content: '\e81b'; } /* '' */
.icon-temperature:before { content: '\e81c'; } /* '' */
.icon-windy-inv:before { content: '\e81d'; } /* '' */